# Salesforce — à configurer dans Vercel > Settings > Environment Variables
SF_LOGIN_URL=https://login.salesforce.com
SF_USERNAME=votre@email.com
SF_PASSWORD=votremotdepasse
SF_SECURITY_TOKEN=votretoken
